{% extends "base.jinja2" %}

{% block title %}<title>Добро Пожаловать! - Lanroud CRM</title>{% endblock title %}
{% block style %}
<style>
* {
    overflow: hidden;
}
.center-fit {
    animation: fadeIn 4s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
</style>
{% endblock style %}

{% block content %}

{% endblock content %}