<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Lanroud CRM</title>{% endblock title %}
    <link href="{{ url_for('css', path='style.css') }}" rel="stylesheet">
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js" integrity="sha384-qbtR4rS9RrUMECUWDWM2+YGgN3U4V4ZncZ0BvUcg9FGct0jqXz3PUdVpU1p0yrXS" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="flex justify-between text 3xl" style="background-color: #50c878; color: rgb(49, 41, 41)">
        <ul class="flex ml-10 gap-10">
            <li><a href="/"><img src="{{ url_for('img', path='default/logo.png') }}" width="200"/></a></li>
            {% block navigation %}
            {% endblock navigation %}
        </ul>
        <ul class="flex gap-5 mr-10">
            <li>Мой аккаунт</li>
            <li>Выход</li>
        </ul>
    </nav>
{% block content %}
{% endblock content %}
</body>
</html>