{% extends "base.jinja2" %}

{% block title %}<title>Дашборд - Lanroud CRM</title>{% endblock title %}
{% block style %}
<style>
    #navbar {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
</style>
{% endblock style %}